[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npm run preview -- --port $PORT --host 0.0.0.0"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/"
healthcheckTimeout = 100
