[build]
builder = "NIXPACKS"

[build.nixpacks]
NODE_VERSION = "20"

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/api/health"
healthcheckTimeout = 100
